body {
  font-family: Helvetica;
  margin: 0;
}
h1 {
  font-family: cursive;
  }
  h1, h2, p {
    text-align: center;
  }
  ol{
    display:table;
    margin:auto;
  }
  li{
    display:ruby-text;
    text-align:left;
  }